{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    {% block meta %}
        <meta name="description" content="Color notes application">
        <meta name="keywords" content="fci, ciudadanía inteligente">
        <meta name="author" content="">
    {% endblock meta %}
    
    {% block title %}
        <title>Django Color Tasks</title>
    {% endblock title %}

      <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Muli:400,600" rel="stylesheet">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    {% block extrajs %}
    {% endblock extrajs %}
    
    <link rel="stylesheet" href='{% static "css/main.css" %}'>
    
    {% block extracss %}
    {% endblock extracss %}
    
  </head>

  <body {% block extra_body_attrs%}{% endblock extra_body_attrs %}>
  
    {% block navbar %}
    {% endblock navbar %}

        <main role="main" class="container-fluid">
            {% block container %}
            {% endblock container%}
        </main>
        
    {% block extra_end_js %}
    {% endblock extra_end_js %}
    
  </body>
</html>