{% extends 'base.html' %}

{% block navbar %}
    {% include 'includes/board_navbar.html' %}
{% endblock navbar %}

{% block container %}
<section class="bgimage">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <p>Board view</p>
        <h2>Board view</h2>
      </div>
    </div>
  </div>
</section>
{% endblock container %}