{% extends 'base.html' %}

{% block container %}
<section class="bgimage">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h5>Boards List</h5>
        <ol>
          
        {% for board in boards %}
          <li>
            <a href="{{ board.get_absolute_url }}">{{ board.name }}</a>
          </li>
        {% endfor %}
        
        </ol>
      </div>
    </div>
  </div>
</section>
{% endblock container %}