<nav class="navbar navbar-expand-md  bg-dark fixed-top">
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url "index" %}">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">Settings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href=""></a>
      </li>
    </ul>

  <!-- BOTON DE BÚSQUEDA
  <form class="form-inline my-2 my-lg-0">
  <input class="form-control mr-sm-2" type="text" placeholder="Búsqueda avanzada" aria-label="Search">
  <button class="btn btn-yellow my-2 my-sm-0" type="submit">Buscar</button> </form>
  -->

  </div>
</nav>